//
// Siimple-colors: a color palette for UI design
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-colors/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://siimple.juanes.xyz
//

//Colors palette
$siimple-palette:
(
  "navy": ( "0": #3f465a, "1": #495169, "2": #57607c, "3": #697496, "4": #8790ab, "5": #ffffff ), 
  "green": ( "0": #15b784, "1": #18cd94, "2": #1add9f, "3": #32e7ad, "4": #48eab7, "5": #ffffff ), 
  "teal": ( "0": #13a08d, "1": #15b7a1, "2": #18d2ba, "3": #1be4c9, "4": #32e7cf, "5": #ffffff ), 
  "blue": ( "0": #1275ed, "1": #2a82ef, "2": #4894f0, "3": #599ef3, "4": #71acf4, "5": #ffffff ), 
  "purple": ( "0": #905cf0, "1": #9f73f2, "2": #b490f5, "3": #bfa2f6, "4": #cfb9f8, "5": #ffffff ), 
  "pink": ( "0": #f02872, "1": #f24081, "2": #f45b93, "3": #f570a1, "4": #f788b0, "5": #ffffff ), 
  "red": ( "0": #e60036, "1": #ff003c, "2": #ff1a4f, "3": #ff3363, "4": #ff4d76, "5": #ffffff ), 
  "orange": ( "0": #ff5f33, "1": #ff734d, "2": #ff8463, "3": #ff9b80, "4": #ffaf99, "5": #ffffff ), 
  "yellow": ( "0": #cc9900, "1": #e6ac00, "2": #ffbf00, "3": #ffc61a, "4": #ffcc33, "5": #ffffff ), 
  "grey": ( "0": #c3d7ef, "1": #d7e4f4, "2": #ebf2fa, "3": #f0f5fb, "4": #f1f4f9, "5": #57607c ), 
  "white": ( "0": #ffffff, "1": #ffffff, "2": #ffffff, "3": #ffffff, "4": #ffffff, "5": #57607c )
);

//Navy palette
$siimple-palette-navy: ( "0": #3f465a, "1": #495169, "2": #57607c, "3": #697496, "4": #8790ab, "5": #ffffff );

//Green palette
$siimple-palette-green: ( "0": #15b784, "1": #18cd94, "2": #1add9f, "3": #32e7ad, "4": #48eab7, "5": #ffffff );

//Teal palette
$siimple-palette-teal: ( "0": #13a08d, "1": #15b7a1, "2": #18d2ba, "3": #1be4c9, "4": #32e7cf, "5": #ffffff );

//Blue palette
$siimple-palette-blue: ( "0": #1275ed, "1": #2a82ef, "2": #4894f0, "3": #599ef3, "4": #71acf4, "5": #ffffff );

//Purple palette
$siimple-palette-purple: ( "0": #905cf0, "1": #9f73f2, "2": #b490f5, "3": #bfa2f6, "4": #cfb9f8, "5": #ffffff );

//Pink palette
$siimple-palette-pink: ( "0": #f02872, "1": #f24081, "2": #f45b93, "3": #f570a1, "4": #f788b0, "5": #ffffff );

//Red palette
$siimple-palette-red: ( "0": #e60036, "1": #ff003c, "2": #ff1a4f, "3": #ff3363, "4": #ff4d76, "5": #ffffff );

//Orange palette
$siimple-palette-orange: ( "0": #ff5f33, "1": #ff734d, "2": #ff8463, "3": #ff9b80, "4": #ffaf99, "5": #ffffff );

//Yellow palette
$siimple-palette-yellow: ( "0": #cc9900, "1": #e6ac00, "2": #ffbf00, "3": #ffc61a, "4": #ffcc33, "5": #ffffff );

//Grey palette
$siimple-palette-grey: ( "0": #c3d7ef, "1": #d7e4f4, "2": #ebf2fa, "3": #f0f5fb, "4": #f1f4f9, "5": #57607c );

//White palette
$siimple-palette-white: ( "0": #ffffff, "1": #ffffff, "2": #ffffff, "3": #ffffff, "4": #ffffff, "5": #57607c );

