// siimple-colors: a color palette for UI design
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-colors/blob/master/LICENSE.md
// Repository: https://github.com/siimple/siimple-colors
// Website:    https://www.siimple.xyz/colors
//

//Darker/lighter amount
$siimple-colors-amount: 15%;
$siimple-colors-extra-amount: 30%;

//Base colors
$siimple-colors-navy: #546778;
$siimple-colors-green: #60d2b6;
$siimple-colors-mint: #60d2b6;
$siimple-colors-blue: #4e91e4;
$siimple-colors-aqua: #4ecbe4;
$siimple-colors-purple: #9d81e4;
$siimple-colors-pink: #e77eb8;
$siimple-colors-red: #ee675d;
$siimple-colors-orange: #f78055;
$siimple-colors-yellow: #fbc850;
$siimple-colors-brown: #a75d58;
$siimple-colors-royal: #939aea;
$siimple-colors-beige: #efc8a9;
$siimple-colors-watermelon: #df535e;
$siimple-colors-grey: #dde5ee;

//Colors palette
$siimple-colors: (
    "navy": (
        "extra-dark": darken($siimple-colors-navy, $siimple-colors-extra-amount),
        "dark": darken($siimple-colors-navy, $siimple-colors-amount),
        "base": $siimple-colors-navy, 
        "light": lighten($siimple-colors-navy, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-navy, $siimple-colors-extra-amount)
    ), 
    "green": (
        "extra-dark": darken($siimple-colors-green, $siimple-colors-extra-amount),
        "dark": darken($siimple-colors-green, $siimple-colors-amount), 
        "base": $siimple-colors-green, 
        "light": lighten($siimple-colors-green, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-green, $siimple-colors-extra-amount)
    ), 
    "mint": (
        "extra-dark": darken($siimple-colors-mint, $siimple-colors-extra-amount),
        "dark": darken($siimple-colors-mint, $siimple-colors-amount), 
        "base": $siimple-colors-mint, 
        "light": lighten($siimple-colors-mint, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-mint, $siimple-colors-extra-amount)
    ), 
    "blue": (
        "extra-dark": darken($siimple-colors-blue, $siimple-colors-extra-amount), 
        "dark": darken($siimple-colors-blue, $siimple-colors-amount), 
        "base": $siimple-colors-blue, 
        "light": lighten($siimple-colors-blue, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-blue, $siimple-colors-extra-amount)
    ), 
    "aqua": (
        "extra-dark": darken($siimple-colors-aqua, $siimple-colors-extra-amount), 
        "dark": darken($siimple-colors-aqua, $siimple-colors-amount), 
        "base": $siimple-colors-aqua, 
        "light": lighten($siimple-colors-aqua, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-aqua, $siimple-colors-extra-amount)
    ), 
    "purple": (
        "extra-dark": darken($siimple-colors-purple, $siimple-colors-extra-amount), 
        "dark": darken($siimple-colors-purple, $siimple-colors-amount), 
        "base": $siimple-colors-purple, 
        "light": lighten($siimple-colors-purple, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-purple, $siimple-colors-extra-amount)
    ),
    "pink": (
        "extra-dark": darken($siimple-colors-pink, $siimple-colors-extra-amount), 
        "dark": darken($siimple-colors-pink, $siimple-colors-amount), 
        "base": $siimple-colors-pink, 
        "light": lighten($siimple-colors-pink, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-pink, $siimple-colors-extra-amount)
    ), 
    "red": (
        "extra-dark": darken($siimple-colors-red, $siimple-colors-extra-amount), 
        "dark": darken($siimple-colors-red, $siimple-colors-amount), 
        "base": $siimple-colors-red, 
        "light": lighten($siimple-colors-red, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-red, $siimple-colors-extra-amount)
    ), 
    "orange": (
        "extra-dark": darken($siimple-colors-orange, $siimple-colors-extra-amount), 
        "dark": darken($siimple-colors-orange, $siimple-colors-amount), 
        "base": $siimple-colors-orange, 
        "light": lighten($siimple-colors-orange, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-orange, $siimple-colors-extra-amount)
    ), 
    "yellow": (
        "extra-dark": darken($siimple-colors-yellow, $siimple-colors-extra-amount), 
        "dark": darken($siimple-colors-yellow, $siimple-colors-amount), 
        "base": $siimple-colors-yellow, 
        "light": lighten($siimple-colors-yellow, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-yellow, $siimple-colors-extra-amount)
    ), 
    "brown": (
        "extra-dark": darken($siimple-colors-brown, $siimple-colors-extra-amount), 
        "dark": darken($siimple-colors-brown, $siimple-colors-amount), 
        "base": $siimple-colors-brown, 
        "light": lighten($siimple-colors-brown, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-brown, $siimple-colors-extra-amount)
    ), 
    "royal": (
        "extra-dark": darken($siimple-colors-royal, $siimple-colors-extra-amount), 
        "dark": darken($siimple-colors-royal, $siimple-colors-amount), 
        "base": $siimple-colors-royal, 
        "light": lighten($siimple-colors-royal, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-royal, $siimple-colors-extra-amount)
    ), 
    "beige": (
        "extra-dark": darken($siimple-colors-beige, $siimple-colors-extra-amount), 
        "dark": darken($siimple-colors-beige, $siimple-colors-amount), 
        "base": $siimple-colors-beige, 
        "light": lighten($siimple-colors-beige, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-beige, $siimple-colors-extra-amount)
    ),
    "watermelon": (
        "extra-dark": darken($siimple-colors-watermelon, $siimple-colors-extra-amount), 
        "dark": darken($siimple-colors-watermelon, $siimple-colors-amount), 
        "base": $siimple-colors-watermelon, 
        "light": lighten($siimple-colors-watermelon, $siimple-colors-amount),
        "extra-light": lighten($siimple-colors-watermelon, $siimple-colors-extra-amount)
    ), 
    "grey": (
        "extra-dark": #bbcbdd, 
        "dark": #cbd8e6, 
        "base": #dde5ee, 
        "light": #eef2f7,
        "extra-light": #ffffff
    )
);

//Color palette alias
$siimple-palette: $siimple-colors;

