//
// Siimple-colors: a color palette for UI design
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-colors/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    httpw://siimple.juanes.xyz
//

//Import mixins
@import "_mixins.scss";

//Color variables
:root
{
  //Read all the colors
  @each $color,$list in $siimple-palette
  {
    //Add the base color
    --siimple-#{$color}: siimple-color-base($color);

    //For each color in the list
    @each $color_id,$color_hex in $list
    {
      //Check the index value
      @if $color_id != "5"
      {
        //Add the color value
        --siimple-#{$color}-#{$color_id}: $color_hex;
      }
    }
  }
}
