//
// siimple-colors: a color palette for UI design
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-colors/blob/master/LICENSE.md
// Repository: https://github.com/siimple/siimple-colors
// Website:    https://www.siimple.xyz/colors
//
@import "_all.scss";

//CSS Color variables
:root {
  @each $color, $list in $siimple-colors {
    //Base color
    --siimple-#{$color}: siimple-color-base($color);
    @each $color_id, $color_hex in $list {
      @if $color_id != "5" {
        --siimple-#{$color}-#{$color_id}: $color_hex;
      }
    }
  }
}

//Colors styles
.siimple {
  @each $color, $list in $siimple-colors {
    //Base text color
    &--color-#{$color} {
      color: siimple-color-base($color);
    }
    // Base background color
    &--bg-#{$color} {
      background-color: siimple-color-base($color);
    }
    //Each color in the palette
    @each $color_id, $color_hex in $list {
      @if $color_id != "5" {
        &--color-#{$color}#{$color_id} {
          color: $color_hex;
        }
        &--bg-#{$color}#{$color_id} {
          background-color: $color_hex;
        }
      }
    }
  }
}
