.guide {
  display: block;
  margin-top: 150px;
  margin-bottom: 100px;

  &-title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: $siimple-white;
    margin-bottom: 12px;
    line-height: 45px;
    opacity: 0.8;

    &::after {
      display: block;
      width: 250px;
      height: 3px;
      border-radius: 100px;
      background-color: $siimple-white;
      opacity: 0.5;
    }
  }

  &-options {
    display: block;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  &-option {
    display: inline-block;
    width: calc(49% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: $siimple-white;
    opacity: 0.2;
    transition: all 0.3s;
    text-decoration: none;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      width: 0px;
      height: 3px;
      border-radius: 100px;
      background-color: $siimple-white;
      transition: all 0.3s;
      margin-top: 10px;
      opacity: 0.5 !important;
    }

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 1px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50px 50px;
    }

    &-option:hover {
      opacity: 0.5;
    }

    &-option:hover::after {
      width: 100%;
    }

    &-option.selected {
      opacity: 0.8 !important;
    }

    &-option.selected::after {
      width: 100% !important;
      opacity: 0.9 !important;
    }
  }

  &-content {
    display: none;
    &.selected {
      display: block;
    }
  }

  &-pre {
    display: block;
    background-color: $siimple-white;
    border-radius: 5px;
    font-size: 13px;
    padding: 15px;
    color: $siimple-pink-dark;
    opacity: 0.8;
    font-family: monospace;
    margin-bottom: 15px;
  }

  &-code {
    font-family: monospace;
    color: $siimple-pink-dark;
    opacity: 0.8;
    background-color: $siimple-white;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    font-size: 13px;
  }

  &-paragraph {
    display: block;
    opacity: 0.8;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 15px;
  }
}