//Import dependencies
@import "../../scss/_all.scss";

//Gradient class
.gradient
{
  background: linear-gradient(135deg, $siimple-purple 0%,$siimple-pink 100%);
}

//Jumbotron style
.jumbotron
{
  color: $siimple-white !important;

  //Logo
  &-logo
  {
    display: block;
    width: 300px;
    height: 300px;
    background-image: url('../images/logo.png');
    background-position: center;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
}

//Palette element
.palette
{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

  //Group
  &-group
  {
    display: inline-block;
    vertical-align: top;
    width: 290px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  //Color
  &-color
  {
    display: block;
    width: calc(100% - 20px);
    height: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    //Color index
    &-index { float: left; }

    //Color hex value
    &-hex { float: right; }

    //Main color
    &--main { margin-bottom: 10px; }
  }
}
