.docs-example {
    display: block;
    //max-width: 240px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    &-icon {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 45px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        border-radius: 50px;
        &::before {
            content: "L";
            display: block;
            font-family: arial;
            font-size: 30px;
            font-weight: bold;
            transform: scaleX(-1) rotate(-40deg);
        }
    }
    //Title 
    &-title {
        display: block;
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: bold;
    }
}

