//Features icons
$features-icons: "palette","css","sass";

//Docs features
.docs-features {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    //Item
    &-item {
        min-height: 200px;
        border-radius: 5px;
        margin-bottom: 10px;
        //Item image
        &-image {
            display: block;
            width: 75px;
            height: 75px;
            //background-position: center center;
            background-repeat: no-repeat;
            //background-size: 75px 75px;
            background-image: url("../images/icons.png");
        }
        //Each icon
        @for $i from 1 through length($features-icons) {
            $icon: nth($features-icons, $i);
            &-image--#{$icon} {
                background-position: #{($i - 1) * 75px * (-1)} 0px;
            }
        }
    }
}


