//Import dependencies and mixins
@import "siimple/scss/_variables.scss";
@import "siimple-colors/scss/colors.scss";

//Features icons
$features-icons: "palette","css","sass";
@for $i from 1 through length($features-icons) {
    $icon: nth($features-icons, $i);
    .docs-feature--#{$icon} {
        background-image: url("../images/icons.png");
        background-position: #{($i - 1) * 75px * (-1)} 0px;
    }
}

//Import partials
@import "./colors.scss";
@import "./example.scss";

