//Welcome
.docs-welcome {
    padding-top: 60px !important;
    //Logo
    &-logo {
        display: block;
        width: 300px;
        height: 260px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 425px 425px;
        background-image: url("../images/logo.png");
    }
    //Buttons container
    &-buttons {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

