//
// Siimple-colors: a color palette for UI design
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-colors/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Get a color index
@function siimple-color-index($color, $index)
{
  //Get the colors list
  $list: map-get($siimple-palette, "#{$color}");

  //Get the color value
  $value: map-get($list, "#{$index}");

  //Return this color
  @return $value;
};

//Get the base color
@function siimple-color-base($color)
{
  //Return the color
  @return siimple-color-index($color, $siimple-color-base-index);
};

//Get the over color
@function siimple-color-over($color)
{
  //Return the color
  @return siimple-color-index($color, $siimple-color-over-index);
};

//Add a color to proterty
@mixin siimple-color-attribute($property: "background-color", $index: $siimple-color-base-index)
{
  //For each color in the list
  @each $color,$list in $siimple-palette
  {
    //Color class
    &--#{$color} { #{$property}: siimple-color-index($color, $index); }
  }
};

//Build a list of colors for background
@mixin siimple-color-attribute-background($index: $siimple-color-base-index)
{
  //For each color in the list
  @each $color,$list in $siimple-palette
  {
    //Color class
    &--#{$color}
    {
      //Set the background color
      background-color: siimple-color-index($color, $index);

      //Set the text color
      color: siimple-color-over($color);
    }
  }
};
