//
// Siimple-colors: a color palette for UI design
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-colors/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Get the base color
@function siimple-colors-base($color)
{
  //Get the colors list
  $list: map-get($siimple-palette, "#{$color}");

  //Get the color value
  $value: map-get($list, "#{$siimple-colors-index-base}");

  //Return this color
  @return $value;
};

//Get the over color
@function siimple-colors-over($color)
{
  //Get the colors list
  $list: map-get($siimple-palette, "#{$color}");

  //Get the color value
  $value: map-get($list, "#{$siimple-colors-index-over}");

  //Return this color
  @return $value;
};
